:root {
  --highcharts-color-0: var(--dv-chart-color-0);
  --highcharts-color-1: var(--dv-chart-color-1);
  --highcharts-color-3: var(--dv-chart-color-2);
  --highcharts-color-2: var(--dv-chart-color-3);
}

.highcharts-root {
  font-family: 'Oxygen', sans-serif;
}

@import "highcharts/css/highcharts.css";
