.error-tooltip {
  @extend .tooltip, .show;
  font-size: var(--bs-tooltip-font-size);
  max-width: var(--bs-tooltip-max-width);
  color: var(--bs-tooltip-color);
  background: var(--bs-danger);
  border-radius: var(--bs-tooltip-border-radius);
  opacity: var(--bs-tooltip-opacity);
  padding: var(--bs-tooltip-padding-y) var(--bs-tooltip-padding-x);
  margin: var(--bs-tooltip-margin);
}
