@use 'sass:map';

.month-container {
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));

  @media (min-width: map.get($grid-breakpoints, 'lg')) {
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }

  @media (min-width: map.get($grid-breakpoints, 'xl')) {
    grid-template-columns: repeat(auto-fit, minmax(calc(100% / 3), 1fr));
  }

  @media (min-width: map.get($grid-breakpoints, 'xxl')) {
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  }

  .chart-container {
    &.month-01 {
      --dlv-chart-color: #a7c7e7;
    }
    &.month-02 {
      --dlv-chart-color: #bfa5d6;
    }
    &.month-03 {
      --dlv-chart-color: #8fcb81;
    }
    &.month-04 {
      --dlv-chart-color: #f4b6c2;
    }
    &.month-05 {
      --dlv-chart-color: #7bc67b;
    }
    &.month-06 {
      --dlv-chart-color: #f9e076;
    }
    &.month-07 {
      --dlv-chart-color: #ff6f61;
    }
    &.month-08 {
      --dlv-chart-color: #e89c4d;
    }
    &.month-09 {
      --dlv-chart-color: #cba052;
    }
    &.month-10 {
      --dlv-chart-color: #d96c32;
    }
    &.month-11 {
      --dlv-chart-color: #8b5e3c;
    }
    &.month-12 {
      --dlv-chart-color: #8b5e3c;
    }

    --highcharts-color-0: var(--dlv-chart-color);

    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;

    & > div {
      width: 100%;
      height: 100%;
    }

    .highcharts-credits {
      fill: var(--bs-body-color);
    }

    .highcharts-background {
      fill: transparent;
    }

    .highcharts-axis-labels,
    .highcharts-legend-item > text {
      fill: var(--bs-body-color);
    }

    .highcharts-xaxis-grid,
    .highcharts-grid-line {
      stroke-width: 1;
      stroke: var(--bs-body-color);
    }

    .highcharts-xaxis {
      .highcharts-axis-line,
      .highcharts-tick {
        stroke: var(--bs-body-color);
      }
    }

    .highcharts-root,
    .highcharts-tooltip {
      font-family: var(--bs-font-sans-serif);
    }

    .highcharts-tooltip-box {
      fill: var(--bs-body-bg);
    }

    .highcharts-tooltip {
      .table {
        --bs-border-width: 1px;
        margin-bottom: 0;
        font-size: 0.75rem;

        & > tbody td {
          text-align: right;
        }
      }
    }
  }
}
